# Heterogeneity
Alex Kunin defined heterogeneity in his celltype figures.ipynb notebook. I dissect it here and construct the completeness metric in another section.

In [1]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [2]:
import os

# file path for oviIN modularity data for full ovi connectome
os.chdir('/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed_inputs-v1.2.1')

path = os.getcwd()
print(path)

/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed_inputs-v1.2.1

In [3]:
ovi_in_HB_node_df = pd.read_csv('preprocessed_nodes.csv', index_col=0)

In [92]:
ovi_in_HB_node_df[ovi_in_HB_node_df['0.5']==95]

,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,pre,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
id,,,,,,,,,,,,,,,,,,,,,
1223274640,219,2,7,7,95,119,127,IB072(PVM03)_L,IB072,264,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'INP': {'pre': 32, 'post': 325, 'downstream':...",NaN,"['ATL(L)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IB'...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IB', 'INP', '..."
1260197510,236,2,7,7,95,119,127,LC33a_R,LC33a,191,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(R)': {'pre': 17, 'post': 7, 'downstream'...",NaN,"['AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['AOT(R)', 'AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CR..."
1325405571,265,2,7,7,95,119,127,LC33b_R,LC33b,310,...,Traced,False,Roughly traced,NaN,276.5,"[341, 23493, 16960]","{'AOT(R)': {'pre': 1, 'post': 4, 'downstream':...",NaN,"['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP...","['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP..."
1387881882,284,2,7,7,95,119,127,LAL069_R,LAL069,109,...,Traced,False,Roughly traced,AVL09,326.5,"[11217, 33457, 28888]","{'INP': {'pre': 5, 'post': 43, 'downstream': 4...",NaN,"['AVLP(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1388223120,285,2,7,7,95,119,127,LAL069_R,LAL069,109,...,Traced,False,Roughly traced,AVL09,326.5,"[12489, 32306, 30416]","{'INP': {'pre': 45, 'post': 73, 'downstream': ...",NaN,"['AVLP(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1481340761,323,2,7,7,95,119,127,LAL069_R,LAL069,107,...,Traced,False,Roughly traced,AVL09,321.5,"[12574, 32879, 31560]","{'LX(R)': {'pre': 93, 'post': 427, 'downstream...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1511016097,335,2,7,7,95,119,127,IB074(PVM03)_L,IB074,234,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(L)': {'post': 11, 'upstream': 11, 'mito'...",NaN,"['ATL(L)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IB'...","['ATL(L)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP..."
1512029563,336,2,7,7,95,178,181,IB073(PVM03)_L,IB073,162,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'INP': {'pre': 8, 'post': 57, 'downstream': 6...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IB', 'INP', '...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
5813094560,1470,2,7,7,95,119,127,IB084(PVM03)_L,IB084,167,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'INP': {'post': 177, 'upstream': 177, 'mito':...",NaN,"['ATL(L)', 'GOR(L)', 'IB', 'INP', 'LAL(-GA)(R)...","['LAL(-GA)(R)', 'LAL(R)', 'LX(R)']"
952374245,2450,2,7,7,95,119,127,LAL114_R,LAL114,573,...,Traced,False,Roughly traced,AVM17,396.5,"[12213, 34025, 26496]","{'SNP(R)': {'pre': 53, 'post': 44, 'downstream...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."

In [93]:
df = ovi_in_HB_node_df[ovi_in_HB_node_df['celltype'].isin(['FC2C','LC33a','LAL069'])]
col1 = '0.5'
col2 = 'celltype'

In [94]:
df

,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,pre,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
id,,,,,,,,,,,,,,,,,,,,,
1008693605,10,3,2,2,5,5,9,FC2C(FQ7)_C7_L,FC2C,126,...,Traced,False,Roughly traced,PDM03,291.0,"[32830, 14210, 12336]","{'CX': {'pre': 91, 'post': 1051, 'downstream':...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1010437434,17,3,2,2,5,5,9,FC2C(FQ7)_C7_L,FC2C,118,...,Traced,False,Roughly traced,PDM03,291.0,"[33870, 12655, 13640]","{'CX': {'pre': 83, 'post': 980, 'downstream': ...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1035393986,50,3,2,2,5,5,9,FC2C(FQ7)_C7_L,FC2C,107,...,Traced,False,Roughly traced,PDM03,291.0,"[33223, 13232, 13088]","{'CX': {'pre': 80, 'post': 905, 'downstream': ...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1071760480,109,3,2,2,5,5,20,FC2C(FQ7)_C2_L,FC2C,173,...,Traced,False,Roughly traced,PDM01,325.5,"[26931, 21788, 7896]","{'SNP(R)': {'pre': 16, 'post': 31, 'downstream...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1072779298,116,3,2,2,5,5,20,FC2C(FQ7)_C2_L,FC2C,147,...,Traced,False,Roughly traced,PDM01,339.0,"[25838, 20339, 5776]","{'SNP(R)': {'pre': 20, 'post': 23, 'downstream...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1076185604,125,3,2,2,5,5,22,FC2C(FQ7)_C9_L,FC2C,138,...,Traced,False,Roughly traced,PDM04,295.0,"[33614, 10534, 21200]","{'SNP(R)': {'pre': 9, 'post': 16, 'downstream'...",FB1d367CRE,"['BU(L)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1104155212,139,3,2,2,5,5,81,FC2C(FQ7)_C1_L,FC2C,146,...,Traced,False,Roughly traced,PDM01,236.0,"[25977, 18745, 9168]","{'SNP(R)': {'pre': 18, 'post': 14, 'downstream...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1166674437,194,3,2,2,5,5,24,FC2C(FQ7)_C9_L,FC2C,134,...,Traced,False,Roughly traced,PDM04,NaN,NaN,"{'SNP(R)': {'pre': 13, 'post': 23, 'downstream...",FB1d367CRE,"['BU(L)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1260197510,236,2,7,7,95,119,127,LC33a_R,LC33a,191,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(R)': {'pre': 17, 'post': 7, 'downstream'...",NaN,"['AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['AOT(R)', 'AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CR..."
1260542968,237,2,7,7,100,128,137,LC33a_R,LC33a,266,...,Traced,False,Roughly traced,NaN,331.5,"[166, 27946, 20720]","{'VLNP(R)': {'pre': 14, 'post': 166, 'downstre...",NaN,"['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'ICL(R)', 'INP..."
1260883995,238,2,7,7,101,129,138,LC33a_R,LC33a,249,...,Traced,False,Roughly traced,NaN,306.5,"[377, 27289, 23040]","{'VLNP(R)': {'pre': 14, 'post': 129, 'downstre...",NaN,"['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(...","['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'ICL..."
1263646693,242,2,7,7,100,128,137,LC33a_R,LC33a,206,...,Traced,False,Roughly traced,NaN,276.5,"[91, 25339, 15352]","{'VLNP(R)': {'pre': 5, 'post': 80, 'downstream...",NaN,"['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP...","['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(..."
1387881882,284,2,7,7,95,119,127,LAL069_R,LAL069,109,...,Traced,False,Roughly traced,AVL09,326.5,"[11217, 33457, 28888]","{'INP': {'pre': 5, 'post': 43, 'downstream': 4...",NaN,"['AVLP(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1388223120,285,2,7,7,95,119,127,LAL069_R,LAL069,109,...,Traced,False,Roughly traced,AVL09,326.5,"[12489, 32306, 30416]","{'INP': {'pre': 45, 'post': 73, 'downstream': ...",NaN,"['AVLP(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1418924735,297,2,7,7,20,72,82,LAL069_R,LAL069,110,...,Traced,False,Roughly traced,AVL09,327.0,"[12698, 31936, 31544]","{'INP': {'pre': 27, 'post': 40, 'downstream': ...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1449606569,310,2,7,7,20,21,139,LAL069_R,LAL069,112,...,Traced,False,Roughly traced,AVL09,NaN,NaN,"{'INP': {'pre': 8, 'post': 35, 'downstream': 6...",NaN,"['AVLP(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1481340761,323,2,7,7,95,119,127,LAL069_R,LAL069,107,...,Traced,False,Roughly traced,AVL09,321.5,"[12574, 32879, 31560]","{'LX(R)': {'pre': 93, 'post': 427, 'downstream...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'LAL(-G..."
1534721340,346,2,7,7,52,62,67,LC33a_R,LC33a,224,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'AOT(R)': {'pre': 3, 'post': 7, 'downstream':...",NaN,"['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP...","['AOT(R)', 'AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CR..."
5813041610,1340,3,2,2,274,353,69,FC2C(FQ7)_C5_L,FC2C,91,...,Traced,False,Roughly traced,PDM02,299.0,"[30168, 16827, 7952]","{'SNP(R)': {'pre': 39, 'post': 9, 'downstream'...",FB1d367CRE,"['CX', 'FB', 'FBl1', 'FBl2', 'FBl3', 'FBl4', '...","['CX', 'FB', 'FBl1', 'FBl2', 'FBl3', 'FBl4', '..."
5813103626,1481,3,2,2,5,5,557,FC2C(FQ7)_C8_L,FC2C,144,...,Traced,False,Roughly traced,PDM04,NaN,NaN,"{'SNP(R)': {'pre': 10, 'post': 19, 'downstream...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
5813129271,1494,3,2,2,5,5,129,FC2C(FQ7)_C8_L,FC2C,148,...,Traced,False,Roughly traced,PDM04,NaN,NaN,"{'SNP(R)': {'pre': 15, 'post': 19, 'downstream...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
885253534,2324,3,2,2,5,5,793,FC2C(FQ7)_C4_L,FC2C,131,...,Traced,False,Roughly traced,PDM02,270.5,"[28104, 15766, 8464]","{'CX': {'pre': 87, 'post': 1165, 'downstream':...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
885262090,2326,3,2,2,5,5,43,FC2C(FQ7)_C5_L,FC2C,142,...,Traced,False,Roughly traced,PDM02,316.0,"[30363, 15778, 8640]","{'CX': {'pre': 104, 'post': 932, 'downstream':...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
885262118,2327,3,2,2,5,5,77,FC2C(FQ7)_C6_L,FC2C,147,...,Traced,False,Roughly traced,PDM03,NaN,NaN,"{'CX': {'pre': 101, 'post': 1025, 'downstream'...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
915605802,2381,3,2,2,274,353,52,FC2C(FQ7)_C4_L,FC2C,137,...,Traced,False,Roughly traced,PDM02,316.0,"[28177, 16450, 8512]","{'CX': {'pre': 97, 'post': 1108, 'downstream':...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
915946994,2384,3,2,2,5,5,75,FC2C(FQ7)_C3_L,FC2C,145,...,Traced,False,Roughly traced,PDM01,291.0,"[28244, 16947, 11400]","{'CX': {'pre': 108, 'post': 1375, 'downstream'...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
947681574,2437,3,2,2,5,5,77,FC2C(FQ7)_C6_L,FC2C,123,...,Traced,False,Roughly traced,PDM03,299.0,"[30192, 16971, 7416]","{'CX': {'pre': 90, 'post': 971, 'downstream': ...",FB1d367CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
947685653,2438,3,2,2,5,5,9,FC2C(FQ7)_C7_R,FC2C,140,...,Traced,False,Roughly traced,PDM01,297.5,"[23826, 15249, 7840]","{'CX': {'pre': 98, 'post': 1357, 'downstream':...",FB1d367CRE,"['CRE(-RUB)(L)', 'CRE(L)', 'CX', 'FB', 'FBl1',...","['CRE(-RUB)(L)', 'CRE(L)', 'CX', 'FB', 'FBl1',..."
978681977,2476,3,2,2,5,5,75,FC2C(FQ7)_C3_L,FC2C,145,...,Traced,False,Roughly traced,PDM01,316.0,"[28321, 16270, 9104]","{'CX': {'pre': 114, 'post': 1408, 'downstream'...",FB1d367CRE,"['AB(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['AB(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',..."

Total counts gets the counts for items in col1 and col2. In this example, that would be the counts of nodes in each cluster for 0.0 resolution and counts of cell types.

In [95]:
total_counts = {c: df.value_counts(c) for c in [col1, col2]}
total_counts

{'0.5': 0.5
 5      17
 95      4
 20      2
 100     2
 274     2
 52      1
 101     1
 dtype: int64,
 'celltype': celltype
 FC2C      19
 LAL069     5
 LC33a      5
 dtype: int64}

In [96]:
total_counts['celltype'].head(20)

celltype
FC2C      19
LAL069     5
LC33a      5
dtype: int64

Joint does a joint count of items in those columns such that, for example, the first row has a count of the number of FC2C cell types in cluster 3.

In [97]:
joint = df.value_counts([col1, col2]).reset_index().rename(columns={0:'count'})
joint

   0.5 celltype  count
0    5     FC2C     17
1   95   LAL069      3
2   20   LAL069      2
3  100    LC33a      2
4  274     FC2C      2
5   52    LC33a      1
6   95    LC33a      1
7  101    LC33a      1

This next piece of code puts the total counts for each cluster into the joint df. The count column is $n_{C \cap T}$ and col1_count is $n_C$ which is the number of cells in a cluster.

In [98]:
joint['col1_count'] = total_counts[col1][joint[col1]].values
joint

   0.5 celltype  count  col1_count
0    5     FC2C     17          17
1   95   LAL069      3           4
2   20   LAL069      2           2
3  100    LC33a      2           2
4  274     FC2C      2           2
5   52    LC33a      1           1
6   95    LC33a      1           4
7  101    LC33a      1           1

The joint counts are divided by the cluster counts to get the proportions of cell types within each cluster. Thus, $p = \frac{n_{C \cap T}}{n_C}$.

In [99]:
p = joint['count'] / joint['col1_count']
p

0    1.00
1    0.75
2    1.00
3    1.00
4    1.00
5    1.00
6    0.25
7    1.00
dtype: float64

The conditional entropy is $-\frac{n_{C \cap T}}{n_C} log2(\frac{n_{C \cap T}}{n_C})$ which is not technically conditional entropy which would be $-n_{C \cap T} log2(\frac{n_{C \cap T}}{n_C})$.

In [100]:
joint['conditional_entropy'] = -p * np.log2(p)
joint

   0.5 celltype  count  col1_count  conditional_entropy
0    5     FC2C     17          17            -0.000000
1   95   LAL069      3           4             0.311278
2   20   LAL069      2           2            -0.000000
3  100    LC33a      2           2            -0.000000
4  274     FC2C      2           2            -0.000000
5   52    LC33a      1           1            -0.000000
6   95    LC33a      1           4             0.500000
7  101    LC33a      1           1            -0.000000

res sums up the (almost) conditional entropies for each cluster and counts the number of cell types in each cluster.

In [101]:
res = joint.groupby(col1).agg({'conditional_entropy': 'sum', col2:'count'})
res

     conditional_entropy  celltype
0.5
5               0.000000         1
20              0.000000         1
52              0.000000         1
95              0.811278         2
100             0.000000         1
101             0.000000         1
274             0.000000         1

A heterogeneity column is added to the res df. Wherever conditional entropy is 0, put that value into the heterogeneity column. Otherwise, divide conditional entropy by $log2(n_{T_C})$ and put that value into the heterogeneity column. $n_{T_C}$ is the number of cell types in a given cluster. I believe this operation normalizes the conditional entropy.

In [102]:
res['heterogeneity'] = res['conditional_entropy'].where(res['conditional_entropy'] == 0,res['conditional_entropy'] / np.log2(res[col2]))
res

     conditional_entropy  celltype  heterogeneity
0.5
5               0.000000         1       0.000000
20              0.000000         1       0.000000
52              0.000000         1       0.000000
95              0.811278         2       0.811278
100             0.000000         1       0.000000
101             0.000000         1       0.000000
274             0.000000         1       0.000000

The remaining lines rename the celltype column and puts $n_C$ into its own column.

In [103]:
res = res.rename(columns={col2:'n_'+col2})
res[col1+'_count'] = total_counts[col1][res.index]
res

     conditional_entropy  n_celltype  heterogeneity  0.5_count
0.5
5               0.000000           1       0.000000         17
20              0.000000           1       0.000000          2
52              0.000000           1       0.000000          1
95              0.811278           2       0.811278          4
100             0.000000           1       0.000000          2
101             0.000000           1       0.000000          1
274             0.000000           1       0.000000          2

Here is Alex's function.

In [ ]:
def heterogeneity_score(df, col1, col2):
    """Compute the heterogeneity of `col1` with respect to `col2`.
    The idea is, each column represents a different labeling of, e.g. nodes in a graph.
    This computes the conditional entropy of the distribution of `col2` given `col1`,
    and returns
    """
    total_counts = {c: df.value_counts(c) for c in [col1, col2]}
    
    joint = df.value_counts([col1, col2]).reset_index().rename(columns={0:'count'})
    joint['col1_count'] = total_counts[col1][joint[col1]].values
    p = joint['count'] / joint['col1_count']
    joint['conditional_entropy'] = -p * np.log2(p)
    res = joint.groupby(col1).agg({'conditional_entropy': 'sum', col2:'count'})
    res['heterogeneity'] = res['conditional_entropy'].where(res['conditional_entropy'] == 0,
                                                            res['conditional_entropy'] / np.log2(res[col2]))
#     res['heterogeneity'] = res['conditional_entropy'] / np.log2(res[col2])
#     res['heterogeneity'].fillna(0, inplace=True)
    res = res.rename(columns={col2:'n_'+col2})
    res[col1+'_count'] = total_counts[col1][res.index]
    return res

# Completeness
"Cluster completeness measures how well represented each cell type is in a given cluster. This is the fraction of a cell type present in a cluster averaged across the cell types within that cluster, defined by the following:"
$Com(C) = \sum_T \frac{n_{C \cap T}}{n_C} \frac{n_{C \cap T}}{n_T}$

We alread have the first term in the variable p.

In [104]:
p = joint['count'] / joint['col1_count']
p

0    1.00
1    0.75
2    1.00
3    1.00
4    1.00
5    1.00
6    0.25
7    1.00
dtype: float64

col2_count ends up being nT, i.e. the number of cells of type T in the whole network.

In [105]:
joint['col2_count'] = total_counts[col2][joint[col2]].values
joint

   0.5 celltype  count  col1_count  conditional_entropy  col2_count
0    5     FC2C     17          17            -0.000000          19
1   95   LAL069      3           4             0.311278           5
2   20   LAL069      2           2            -0.000000           5
3  100    LC33a      2           2            -0.000000           5
4  274     FC2C      2           2            -0.000000          19
5   52    LC33a      1           1            -0.000000           5
6   95    LC33a      1           4             0.500000           5
7  101    LC33a      1           1            -0.000000           5

q is the second term: $\frac{n_{C \cap T}}{n_T}$

In [106]:
q = joint['count'] / joint['col2_count']
q

0    0.894737
1    0.600000
2    0.400000
3    0.400000
4    0.105263
5    0.200000
6    0.200000
7    0.200000
dtype: float64

In [107]:
joint['completeness'] = p * q
joint

,0.5,celltype,count,col1_count,conditional_entropy,col2_count,completeness
0,5,FC2C,17,17,-0.000000,19,0.894737
1,95,LAL069,3,4,0.311278,5,0.450000
2,20,LAL069,2,2,-0.000000,5,0.400000
3,100,LC33a,2,2,-0.000000,5,0.400000
4,274,FC2C,2,2,-0.000000,19,0.105263
5,52,LC33a,1,1,-0.000000,5,0.200000
6,95,LC33a,1,4,0.500000,5,0.050000
7,101,LC33a,1,1,-0.000000,5,0.200000

resc sums up the (almost) completeness for each cluster and counts the number of cell types in each cluster.

In [108]:
resc = joint.groupby(col1).agg({'completeness': 'sum', col2:'count'})
resc

     completeness  celltype
0.5
5        0.894737         1
20       0.400000         1
52       0.200000         1
95       0.500000         2
100      0.400000         1
101      0.200000         1
274      0.105263         1

I still need to double check this completeness score. 

The fraction of cluster metric: "This the fraction of each cluster that is composed of cell type T, averaged over clusters which contain cells of type T. A score near 1 indicates that clusters containing cells of type T contain only cells of type T, regardless of how many such clusters there are."

In [109]:
frac_cluster = joint.groupby(col2).agg({'completeness': 'sum', col2:'count'})
frac_cluster

          completeness  celltype
celltype
FC2C              1.00         2
LAL069            0.85         2
LC33a             0.85         4

# Fraction of type

In [110]:
joint['frac_type'] = q * q
joint

,0.5,celltype,count,col1_count,conditional_entropy,col2_count,completeness,frac_type
0,5,FC2C,17,17,-0.000000,19,0.894737,0.800554
1,95,LAL069,3,4,0.311278,5,0.450000,0.360000
2,20,LAL069,2,2,-0.000000,5,0.400000,0.160000
3,100,LC33a,2,2,-0.000000,5,0.400000,0.160000
4,274,FC2C,2,2,-0.000000,19,0.105263,0.011080
5,52,LC33a,1,1,-0.000000,5,0.200000,0.040000
6,95,LC33a,1,4,0.500000,5,0.050000,0.040000
7,101,LC33a,1,1,-0.000000,5,0.200000,0.040000

In [111]:
frac_type = joint.groupby(col2).agg({'frac_type': 'sum', col2:'count'})
frac_type

          frac_type  celltype
celltype
FC2C       0.811634         2
LAL069     0.520000         2
LC33a      0.280000         4

These all seem to check out with this example.