Alex Kunin defined heterogeneity in his celltype figures.ipynb notebook. I dissect it here and construct the completeness metric.

In [3]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [1]:
import os

# file path for oviIN modularity data for full ovi connectome
os.chdir('/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed_inputs-v1.2.1')

path = os.getcwd()
print(path)

/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed_inputs-v1.2.1

In [4]:
ovi_in_HB_node_df = pd.read_csv('preprocessed_nodes.csv', index_col=0)

In [ ]:
df = ovi_in_HB_node_df#[ovi_in_HB_node_df['celltype'].isin(['FC2A','LC33a','SMP133'])]
col1 = '0.0'
col2 = 'celltype'

In [29]:
df

,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,pre,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
id,,,,,,,,,,,,,,,,,,,,,
1070103331,101,3,2,2,5,5,70,FC2A(FQ7)_C5_L,FC2A,243,...,Traced,False,Roughly traced,PDM02,299.0,"[30004, 17587, 7984]","{'CX': {'pre': 210, 'post': 1825, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1072507501,114,3,2,2,5,5,77,FC2A(FQ7)_C6_L,FC2A,240,...,Traced,False,Roughly traced,PDM03,299.0,"[30312, 17239, 7840]","{'CX': {'pre': 197, 'post': 1918, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1132168736,156,3,2,2,5,5,70,FC2A(FQ7)_C4_L,FC2A,244,...,Traced,False,Roughly traced,PDM02,325.5,"[28470, 18575, 8128]","{'CX': {'pre': 216, 'post': 2170, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1135941581,166,3,2,2,5,5,98,FC2A(FQ7)_C7_L,FC2A,220,...,Traced,False,Roughly traced,PDM03,291.0,"[33493, 12590, 13344]","{'CX': {'pre': 181, 'post': 1735, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1164882751,192,3,2,2,5,5,70,FC2A(FQ7)_C3_L,FC2A,259,...,Traced,False,Roughly traced,PDM01,325.5,"[27664, 18997, 8112]","{'CX': {'pre': 225, 'post': 2290, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1199327859,209,3,2,2,5,5,51,FC2A(FQ7)_C8_L,FC2A,207,...,Traced,False,Roughly traced,PDM04,NaN,NaN,"{'CX': {'pre': 163, 'post': 1408, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1260197510,236,2,7,7,95,119,127,LC33a_R,LC33a,191,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(R)': {'pre': 17, 'post': 7, 'downstream'...",NaN,"['AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'IN...","['AOT(R)', 'AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CR..."
1260542968,237,2,7,7,100,128,137,LC33a_R,LC33a,266,...,Traced,False,Roughly traced,NaN,331.5,"[166, 27946, 20720]","{'VLNP(R)': {'pre': 14, 'post': 166, 'downstre...",NaN,"['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'ICL(R)', 'INP..."
1260883995,238,2,7,7,101,129,138,LC33a_R,LC33a,249,...,Traced,False,Roughly traced,NaN,306.5,"[377, 27289, 23040]","{'VLNP(R)': {'pre': 14, 'post': 129, 'downstre...",NaN,"['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(...","['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'ICL..."
1263646693,242,2,7,7,100,128,137,LC33a_R,LC33a,206,...,Traced,False,Roughly traced,NaN,276.5,"[91, 25339, 15352]","{'VLNP(R)': {'pre': 5, 'post': 80, 'downstream...",NaN,"['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP...","['AOT(R)', 'BU(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(..."
1320480289,260,3,2,2,5,5,70,FC2A(FQ7)_C9_L,FC2A,222,...,Traced,False,Roughly traced,PDM04,215.0,"[33454, 11099, 20920]","{'INP': {'pre': 42, 'post': 61, 'downstream': ...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1351065769,274,3,2,2,5,5,144,FC2A(FQ7)_C1_L,FC2A,239,...,Traced,False,Roughly traced,PDM01,286.0,"[25917, 20114, 9008]","{'INP': {'pre': 41, 'post': 48, 'downstream': ...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
1534721340,346,2,7,7,52,62,67,LC33a_R,LC33a,224,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'AOT(R)': {'pre': 3, 'post': 7, 'downstream':...",NaN,"['AOT(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP...","['AOT(R)', 'AOTU(R)', 'CRE(-ROB,-RUB)(R)', 'CR..."
394095053,759,3,3,4,263,338,293,SMP133_L,SMP133,228,...,Traced,False,Roughly traced,ADM07,309.0,"[27342, 29782, 7256]","{'SNP(R)': {'pre': 149, 'post': 1029, 'downstr...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."
424452682,802,3,3,4,263,338,293,SMP133_L,SMP133,240,...,Traced,False,Roughly traced,ADM07,331.0,"[28753, 29539, 5472]","{'SNP(R)': {'pre': 140, 'post': 1151, 'downstr...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."
424792976,803,3,2,3,263,411,378,SMP133_L,SMP133,197,...,Traced,False,Roughly traced,ADM07,329.5,"[28133, 28937, 6224]","{'SNP(R)': {'pre': 125, 'post': 938, 'downstre...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'SIP(L)...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'SIP(L)..."
546316427,1023,3,3,4,351,477,463,SMP133_R,SMP133,203,...,Traced,False,Roughly traced,ADM07,420.0,"[23646, 30256, 5960]","{'SNP(L)': {'pre': 119, 'post': 707, 'downstre...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-RUB)(L)', 'CRE(L)', 'INP', 'SIP(L)', 'S..."
546661881,1027,3,3,4,352,479,465,SMP133_R,SMP133,214,...,Traced,False,Roughly traced,ADM07,291.5,"[22534, 30472, 4488]","{'SNP(L)': {'pre': 133, 'post': 547, 'downstre...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'SIP(L)...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'INP', 'SIP(L)..."
5813055999,1370,3,2,2,5,5,20,FC2A(FQ7)_C2_L,FC2A,271,...,Traced,False,Roughly traced,PDM01,325.5,"[25778, 19127, 7648]","{'CX': {'pre': 236, 'post': 2756, 'downstream'...",FB1-5CRE,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
859381489,2288,3,3,4,351,477,463,SMP133_R,SMP133,187,...,Traced,False,Roughly traced,ADM07,330.0,"[23621, 29827, 7192]","{'SNP(L)': {'pre': 110, 'post': 409, 'downstre...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."

In [ ]:
total_counts['celltype'].head(20)

celltype
FC2A      9
SMP133    6
LC33a     5
dtype: int64

Total counts gets the counts for items in col1 and col2. In this example, that would be the counts of nodes in each cluster for 0.0 resolution and counts of cell types.

In [ ]:
total_counts = {c: df.value_counts(c) for c in [col1, col2]}
total_counts

{'0.0': 0.0
 3    15
 2     5
 dtype: int64,
 'celltype': celltype
 FC2A      9
 SMP133    6
 LC33a     5
 dtype: int64}

Joint does a joint count of items in those columns such that, for example, the first row has a count of the number of None cell types in cluster 2.

In [10]:
joint = df.value_counts([col1, col2]).reset_index().rename(columns={0:'count'})
joint

      0.0 celltype  count
0       2     None    278
1       4     None    227
2       5     None    146
3       3     None     96
4       1     None     92
...   ...      ...    ...
1067    2   LAL148      1
1068    2   LAL149      1
1069    2   LAL151      1
1070    2   LAL163      1
1071    5    vpoDN      1

[1072 rows x 3 columns]

This next piece of code puts the total counts for each cluster into the joint df. The count column is $n_{C \cap T}$ and col1_count is $n_C$.

In [11]:
joint['col1_count'] = total_counts[col1][joint[col1]].values
joint

      0.0 celltype  count  col1_count
0       2     None    278         716
1       4     None    227         302
2       5     None    146         387
3       3     None     96         587
4       1     None     92         519
...   ...      ...    ...         ...
1067    2   LAL148      1         716
1068    2   LAL149      1         716
1069    2   LAL151      1         716
1070    2   LAL163      1         716
1071    5    vpoDN      1         387

[1072 rows x 4 columns]

The joint counts are divided by the cluster counts to get the proportions of cell types within each cluster. Thus, $p = \frac{n_{C \cap T}}{n_C}$.

In [14]:
p = joint['count'] / joint['col1_count']
p

0       0.388268
1       0.751656
2       0.377261
3       0.163543
4       0.177264
          ...
1067    0.001397
1068    0.001397
1069    0.001397
1070    0.001397
1071    0.002584
Length: 1072, dtype: float64

The conditional entropy is $-\frac{n_{C \cap T}}{n_C} log2(\frac{n_{C \cap T}}{n_C})$ which is not technically conditional entropy which would be $-n_{C \cap T} log2(\frac{n_{C \cap T}}{n_C})$.

In [18]:
joint['conditional_entropy'] = -p * np.log2(p)
joint

      0.0 celltype  count  col1_count  conditional_entropy
0       2     None    278         716             0.529937
1       4     None    227         302             0.309574
2       5     None    146         387             0.530567
3       3     None     96         587             0.427217
4       1     None     92         519             0.442456
...   ...      ...    ...         ...                  ...
1067    2   LAL148      1         716             0.013246
1068    2   LAL149      1         716             0.013246
1069    2   LAL151      1         716             0.013246
1070    2   LAL163      1         716             0.013246
1071    5    vpoDN      1         387             0.022212

[1072 rows x 5 columns]

res sums up the (almost) conditional entropies for each cluster

In [19]:
res = joint.groupby(col1).agg({'conditional_entropy': 'sum', col2:'count'})
res

     conditional_entropy  celltype
0.0
1               7.204940       278
2               5.924880       309
3               6.593140       248
4               2.309178        69
5               5.454517       168

In [27]:
res['heterogeneity'] = res['conditional_entropy'].where(res['conditional_entropy'] == 0,res['conditional_entropy'] / np.log2(res[col2]))
res

     conditional_entropy  celltype  heterogeneity
0.0
1               7.204940       278       0.887424
2               5.924880       309       0.716304
3               6.593140       248       0.828888
4               2.309178        69       0.378025
5               5.454517       168       0.737863

In [ ]:
def heterogeneity_score(df, col1, col2):
    """Compute the heterogeneity of `col1` with respect to `col2`.
    The idea is, each column represents a different labeling of, e.g. nodes in a graph.
    This computes the conditional entropy of the distribution of `col2` given `col1`,
    and returns
    """
    total_counts = {c: df.value_counts(c) for c in [col1, col2]}
    
    joint = df.value_counts([col1, col2]).reset_index().rename(columns={0:'count'})
    joint['col1_count'] = total_counts[col1][joint[col1]].values
    p = joint['count'] / joint['col1_count']
    joint['conditional_entropy'] = -p * np.log2(p)
    res = joint.groupby(col1).agg({'conditional_entropy': 'sum', col2:'count'})
    res['heterogeneity'] = res['conditional_entropy'].where(res['conditional_entropy'] == 0,
                                                            res['conditional_entropy'] / np.log2(res[col2]))
#     res['heterogeneity'] = res['conditional_entropy'] / np.log2(res[col2])
#     res['heterogeneity'].fillna(0, inplace=True)
    res = res.rename(columns={col2:'n_'+col2})
    res[col1+'_count'] = total_counts[col1][res.index]
    return res