The goal of this notebook is to produce connectomes and export connectome files for various exotic cases that will be run through the modularity algorithm.

In [1]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

'0.1.0'

In [2]:
# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [3]:
# body IDs of oviINs from Neuprint
oviINr_bodyID = 423101189
oviINl_bodyID = 485934965

# oviIN full connectome by cell type
This is oviINr's full connectome but the nodes are cell types and the edges are the collapsed weights by cell type.

In [4]:
# use our function to get connectome by cell type
from get_connectome import get_connectome

oviINr_type_connectome = get_connectome(oviINr_bodyID, connectome_by_type=True)
oviINr_type_connectome

  0%|          | 0/23 [00:00<?, ?it/s]

          type_pre type_post  weight
0       5-HTPMPD01     AstA1       2
1       5-HTPMPD01     CL003       1
2       5-HTPMPD01   CL019_a       1
3       5-HTPMPD01     CL165       1
4       5-HTPMPD01     CL251       2
...            ...       ...     ...
209439       vpoEN      pC1b       1
209440       vpoEN      pC1c       2
209441       vpoEN      pC1d      14
209442       vpoEN      pC1e       2
209443       vpoEN     vpoDN      29

[209444 rows x 3 columns]

In [6]:
# make the connectome undirected
from get_connectome import connectome_to_undirected

oviINr_type_connectome_undirected = connectome_to_undirected(oviINr_type_connectome, connectome_by_type=True)
oviINr_type_connectome_undirected

            source   target  weight
0       5-HTPMPD01    AstA1       2
1       5-HTPMPD01    CL003       3
2       5-HTPMPD01  CL019_a       1
3       5-HTPMPD01    CL165       1
4       5-HTPMPD01    CL251       2
...            ...      ...     ...
161825       vpoEN    oviIN       4
161826       vpoEN     pC1b       1
161827       vpoEN     pC1c       2
161828       vpoEN     pC1d      14
161829       vpoEN     pC1e       2

[161830 rows x 3 columns]

In [ ]:
# export the connectome to a csv file

# oviIN connectome

In [4]:
# use our function to get connectome
from get_connectome import get_connectome

oviINr_connectome = get_connectome(oviINr_bodyID)
oviINr_connectome

  0%|          | 0/23 [00:00<?, ?it/s]

        bodyId_pre  bodyId_post  weight
0        203253253    203594164       2
1        203253253    295802733       1
2        203253253    296194535       1
3        203253253    296509709       7
4        203253253    296838079      35
...            ...          ...     ...
537211  7112625282    674882250       1
537212  7112625282    769377106       1
537213  7112625282    800373114       1
537214  7112625282   1163199311       1
537215  7112625282   5813062838       1

[537216 rows x 3 columns]

In [ ]:
# inputs to oviINr
from neuprint import fetch_simple_connections
ovi_inputs = fetch_simple_connections(None,oviINr_bodyID)
ovi_inputs