The goal of this notebook is to produce connectomes and export connectome files for various exotic cases that will be run through the modularity algorithm.

In [1]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

'0.1.0'

In [2]:
# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [3]:
# body IDs of oviINs from Neuprint
oviINr_bodyID = 423101189
oviINl_bodyID = 485934965

# oviINr full connectome by cell type
This is oviINr's full connectome but the nodes are cell types and the edges are the collapsed weights by cell type. Nothing has been thresholded here so that we can compare to the full oviINr connectome by bodyId.

In [4]:
# use our function to get connectome by cell type
from get_connectome import get_connectome

oviINr_type_connectome = get_connectome(oviINr_bodyID, connectome_by_type=True)
oviINr_type_connectome

  0%|          | 0/23 [00:00<?, ?it/s]

          type_pre    type_post  weight
0       5-HTPMPD01        AstA1       2
1       5-HTPMPD01        CL003       1
2       5-HTPMPD01      CL019_a       1
3       5-HTPMPD01        CL165       1
4       5-HTPMPD01        CL251       2
...            ...          ...     ...
212117       vpoEN         pC1c       2
212118       vpoEN         pC1d      14
212119       vpoEN         pC1e       2
212120       vpoEN  unspecified       4
212121       vpoEN        vpoDN      29

[212122 rows x 3 columns]

In [5]:
# make the connectome undirected
from get_connectome import connectome_to_undirected

oviINr_type_connectome_undirected = connectome_to_undirected(oviINr_type_connectome)
oviINr_type_connectome_undirected

            source   target  weight
0       5-HTPMPD01    AstA1       2
1       5-HTPMPD01    CL003       3
2       5-HTPMPD01  CL019_a       1
3       5-HTPMPD01    CL165       1
4       5-HTPMPD01    CL251       2
...            ...      ...     ...
163201       vpoEN    oviIN       4
163202       vpoEN     pC1b       1
163203       vpoEN     pC1c       2
163204       vpoEN     pC1d      14
163205       vpoEN     pC1e       2

[163206 rows x 3 columns]

As of now, the C code won't work with the connectome by types data. Rhessa has some code to assign 8-digit numbers to cell types.

In [6]:
import os

# file path 
os.chdir('/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/')
path = os.getcwd()

In [7]:
# export the connectome to a csv file
oviINr_type_connectome_undirected.to_csv('for_running_modularity/oviINr_type/oviINr_type_connectome_undirected.txt', index = False, header=False)

# oviINr full connectome with left instances removed
This one is tricky because we can't use the functions we've made for getting connectomes.

In [25]:
from neuprint import fetch_adjacencies

# the 1st df returns all the neurons involved in making the specified connections
pre, pre_conns = fetch_adjacencies(None, oviINr_bodyID)
post, post_conns = fetch_adjacencies(oviINr_bodyID, None)

In [26]:
pre

          bodyId       type         instance
0      423101189      oviIN          oviIN_R
1      234630133     SMP184  SMP184(PDL05)_L
2      263674097  LHPD2a5_a      LHPD2a5_a_R
3      266187480     SMP349         SMP349_R
4      266187559     SLP399         SLP399_R
...          ...        ...              ...
2520  5901231318       None             None
2521  5901232053     SMP272  SMP272(PDL21)_L
2522  6400000773     SMP411         SMP411_R
2523  7112622044     LAL137  LAL137(PVL05)_L
2524  7112624972       None             None

[2525 rows x 3 columns]

Let's get rid of the left instances now before we concatenate pre and post bodyIds.

In [27]:
# replace None with 'unspecified'
pre.fillna('unspecified', inplace=True)
post.fillna('unspecified', inplace=True)

# remove rows where instance has _L at the end of instance
post = post[~post.instance.str.contains('_L')]
pre = pre[~pre.instance.str.contains('_L')]
pre

          bodyId         type     instance
0      423101189        oviIN      oviIN_R
2      263674097    LHPD2a5_a  LHPD2a5_a_R
3      266187480       SMP349     SMP349_R
4      266187559       SLP399     SLP399_R
5      267214250         pC1b       pC1b_R
...          ...          ...          ...
2518  5901227238  unspecified  unspecified
2519  5901230025  unspecified  unspecified
2520  5901231318  unspecified  unspecified
2522  6400000773       SMP411     SMP411_R
2524  7112624972  unspecified  unspecified

[2084 rows x 3 columns]

In [28]:
# combine unique pre and post bodyIds
partners = pd.concat([pre['bodyId'], post['bodyId']]).unique()

# turn it back into a series
partners = pd.Series(partners)

In [31]:
# get connections among neurons using the bodyIds from partners
partners_, connectome = fetch_adjacencies(partners, partners)

# get rid of the ROI column and group bodyId_pre and bodyId_post by summing weights across ROIs
connectome = connectome.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()

  0%|          | 0/19 [00:00<?, ?it/s]

In [32]:
connectome

        bodyId_pre  bodyId_post  weight
0        203594164    203598466       3
1        203594164    296358430       1
2        203594164    298944745       1
3        203594164    326530038       2
4        203594164    328939480       1
...            ...          ...     ...
336194  7112624972    610312734       1
336195  7112624972    732034854       1
336196  7112625115    643393688       1
336197  7112625115   5813055749       1
336198  7112625282    769377106       1

[336199 rows x 3 columns]

Now we can pass it into the connectome_to_undirected function before saving.

In [33]:
from get_connectome import connectome_to_undirected

oviINr_Lremoved_connectome_undirected = connectome_to_undirected(connectome)
oviINr_Lremoved_connectome_undirected

            source      target  weight
0        203594164   203598466      94
1        203594164   296358430       1
2        203594164   298944745       2
3        203594164   326530038       4
4        203594164   328939480       1
...            ...         ...     ...
284176  7112624972   610312734       1
284177  7112624972   732034854       1
284178  7112625115   643393688       1
284179  7112625115  5813055749       1
284180  7112625282   769377106       1

[284181 rows x 3 columns]

In [35]:
# export the connectome to a csv file
oviINr_Lremoved_connectome_undirected.to_csv('for_running_modularity/oviINr_left_removed/oviINr_Lremoved_connectome_undirected.txt', index = False, header=False)

# oviINr full connectome with thresholded edges
The thresholding happens on the connectome edges. I fully expect the modularity results on this to look a lot like the Sankeys I made for prominent partners and I expect the modularity to give results at the coarse resolution that are very similar to not thresholding.

In [ ]:
# use our function to get connectome by cell type
from get_connectome import get_connectome

weight_th = 20
oviINr_connectome_thresh = get_connectome(oviINr_bodyID, weight_threshold=weight_th)
oviINr_connectome_thresh

  0%|          | 0/23 [00:00<?, ?it/s]

          type_pre    type_post  weight
0       5-HTPMPD01        AstA1       2
1       5-HTPMPD01        CL003       1
2       5-HTPMPD01      CL019_a       1
3       5-HTPMPD01        CL165       1
4       5-HTPMPD01        CL251       2
...            ...          ...     ...
212117       vpoEN         pC1c       2
212118       vpoEN         pC1d      14
212119       vpoEN         pC1e       2
212120       vpoEN  unspecified       4
212121       vpoEN        vpoDN      29

[212122 rows x 3 columns]

In [ ]:
# make the connectome undirected
from get_connectome import connectome_to_undirected

oviINr_connectome_thresh_undirected = connectome_to_undirected(oviINr_connectome_thresh)
oviINr_connectome_thresh_undirected

            source   target  weight
0       5-HTPMPD01    AstA1       2
1       5-HTPMPD01    CL003       3
2       5-HTPMPD01  CL019_a       1
3       5-HTPMPD01    CL165       1
4       5-HTPMPD01    CL251       2
...            ...      ...     ...
163201       vpoEN    oviIN       4
163202       vpoEN     pC1b       1
163203       vpoEN     pC1c       2
163204       vpoEN     pC1d      14
163205       vpoEN     pC1e       2

[163206 rows x 3 columns]

In [ ]:
# export the connectome to a csv file
oviINr_connectome_thresh_undirected.to_csv('oviINr_connectome_thresh20_undirected.txt', index = False, header=False)

# oviINr full connectome with thresholded edges before assembling connectome
In other words, the thresholding happens at the connections between oviINr and its partners.

In [44]:
# inputs to oviINr
from neuprint import fetch_simple_connections
ovi_inputs = fetch_simple_connections(None,oviINr_bodyID)
ovi_inputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,611015907,423101189,287,SMP176,oviIN,SMP176_R,oviIN_R,"{'INP': {'pre': 54, 'post': 53}, 'CRE(R)': {'p..."
1,5813087891,423101189,255,SMP544,oviIN,SMP544_R,oviIN_R,"{'LX(R)': {'pre': 66, 'post': 65}, 'LAL(R)': {..."
2,1598011458,423101189,243,LAL134,oviIN,LAL134_R,oviIN_R,"{'LX(R)': {'pre': 42, 'post': 42}, 'LAL(R)': {..."
3,5813022375,423101189,236,IB017,oviIN,IB017_R,oviIN_R,"{'SNP(R)': {'pre': 97, 'post': 97}, 'SMP(R)': ..."
4,448342846,423101189,225,CRE075,oviIN,CRE075_R,oviIN_R,"{'INP': {'pre': 199, 'post': 199}, 'CRE(R)': {..."
...,...,...,...,...,...,...,...,...
2519,5901221890,423101189,1,SLP422,oviIN,SLP422_R,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2520,5901226036,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2521,5901230025,423101189,1,None,oviIN,None,oviIN_R,"{'VMNP': {'pre': 1, 'post': 1}, 'VES(R)': {'pr..."
2522,5901231318,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
2523,7112624972,423101189,1,None,oviIN,None,oviIN_R,"{'INP': {'pre': 1, 'post': 1}, 'CRE(R)': {'pre..."

In [45]:
# outputs to oviINr
from neuprint import fetch_simple_connections
ovi_outputs = fetch_simple_connections(oviINr_bodyID,None)
ovi_outputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,423101189,5813021602,320,oviIN,SMP198,oviIN_R,SMP198_R,"{'SNP(R)': {'pre': 276, 'post': 276}, 'SMP(R)'..."
1,423101189,452689494,239,oviIN,SMP550,oviIN_R,SMP550_R,"{'SNP(R)': {'pre': 239, 'post': 239}, 'SMP(R)'..."
2,423101189,611629428,238,oviIN,CRE077,oviIN_R,CRE077_R,"{'SNP(R)': {'pre': 216, 'post': 216}, 'SMP(R)'..."
3,423101189,542376096,208,oviIN,SMP237,oviIN_R,SMP237_R,"{'SNP(R)': {'pre': 203, 'post': 203}, 'SMP(R)'..."
4,423101189,5813021005,199,oviIN,SMP507,oviIN_R,SMP507_R,"{'SNP(R)': {'pre': 199, 'post': 199}, 'SMP(R)'..."
...,...,...,...,...,...,...,...,...
3436,423101189,5901197274,1,oviIN,SMP528,oviIN_R,SMP528(PDM24)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
3437,423101189,5901203310,1,oviIN,None,oviIN_R,(PVM12)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
3438,423101189,5901220525,1,oviIN,None,oviIN_R,None,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
3439,423101189,7112625063,1,oviIN,None,oviIN_R,None,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
3440,423101189,7112625282,1,oviIN,None,oviIN_R,None,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."

In [46]:
weight_th = 20

# threshold ovi_inputs weight
ovi_inputs = ovi_inputs[ovi_inputs.weight > weight_th]

# threshold ovi_outputs weight
ovi_outputs = ovi_outputs[ovi_outputs.weight > weight_th]

In [47]:
ovi_outputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,423101189,5813021602,320,oviIN,SMP198,oviIN_R,SMP198_R,"{'SNP(R)': {'pre': 276, 'post': 276}, 'SMP(R)'..."
1,423101189,452689494,239,oviIN,SMP550,oviIN_R,SMP550_R,"{'SNP(R)': {'pre': 239, 'post': 239}, 'SMP(R)'..."
2,423101189,611629428,238,oviIN,CRE077,oviIN_R,CRE077_R,"{'SNP(R)': {'pre': 216, 'post': 216}, 'SMP(R)'..."
3,423101189,542376096,208,oviIN,SMP237,oviIN_R,SMP237_R,"{'SNP(R)': {'pre': 203, 'post': 203}, 'SMP(R)'..."
4,423101189,5813021005,199,oviIN,SMP507,oviIN_R,SMP507_R,"{'SNP(R)': {'pre': 199, 'post': 199}, 'SMP(R)'..."
...,...,...,...,...,...,...,...,...
324,423101189,1008378609,21,oviIN,FB5Y,oviIN_R,FB5Y_R,"{'SNP(R)': {'pre': 21, 'post': 21}, 'SMP(R)': ..."
325,423101189,1225290633,21,oviIN,FB4C,oviIN_R,FB4C(NO2)_R,"{'SNP(R)': {'pre': 20, 'post': 20}, 'SMP(R)': ..."
326,423101189,1325138116,21,oviIN,CRE002,oviIN_R,CRE002_R,"{'SNP(R)': {'pre': 7, 'post': 7}, 'SMP(R)': {'..."
327,423101189,5813078074,21,oviIN,SMP585,oviIN_R,SMP585_R,"{'SNP(R)': {'pre': 21, 'post': 21}, 'SMP(R)': ..."
328,423101189,5813083733,21,oviIN,SIP026,oviIN_R,SIP026_R,"{'SNP(R)': {'pre': 21, 'post': 21}, 'SMP(R)': ..."

In [48]:
from neuprint import fetch_adjacencies

pre, pre_conns = fetch_adjacencies(ovi_inputs['bodyId_pre'], oviINr_bodyID)
post, post_conns = fetch_adjacencies(oviINr_bodyID, ovi_outputs['bodyId_post'])

In [50]:
post

         bodyId    type          instance
0     423101189   oviIN           oviIN_R
1     234630133  SMP184   SMP184(PDL05)_L
2     266187383  SMP347          SMP347_R
3     266187559  SLP399          SLP399_R
4     267551639    pC1c            pC1c_R
..          ...     ...               ...
325  5901203505  SLP212          SLP212_R
326  5901212906    None  SLPXXX(SCBXXX)_R
327  5901213440  CRE011          CRE011_R
328  5901213624  SMP405          SMP405_R
329  5901232053  SMP272   SMP272(PDL21)_L

[330 rows x 3 columns]

In [51]:
# combine unique pre and post bodyIds
partners = pd.concat([pre['bodyId'], post['bodyId']]).unique()
# turn it back into a series
partners = pd.Series(partners)

# get connections among neurons using the bodyIds from partners
partners_, connectome = fetch_adjacencies(partners, partners)

  0%|          | 0/3 [00:00<?, ?it/s]

       bodyId_pre  bodyId_post     roi  weight
0       234630133    296838079  SIP(R)       1
1       234630133    296855409  SIP(R)       2
2       234630133    296855409  SMP(R)       1
3       234630133    296855409  CRE(R)       1
4       234630133    298603730  CRE(R)       1
...           ...          ...     ...     ...
40838  5901232053   5813040712  SMP(R)       1
40839  5901232053   5813055949  SMP(R)      19
40840  5901232053   5813056887  SMP(R)       2
40841  5901232053   5813132515  SMP(R)       4
40842  5901232053   5901213624  SMP(R)       1

[40751 rows x 4 columns]

In [52]:
# get rid of the ROI column and group bodyId_pre and bodyId_post by summing weights across ROIs
connectome = connectome.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()

In [53]:
connectome

       bodyId_pre  bodyId_post  weight
0       234630133    296838079       1
1       234630133    296855409       4
2       234630133    298603730       1
3       234630133    328244591       1
4       234630133    328943204      21
...           ...          ...     ...
29559  5901232053   5813040712      19
29560  5901232053   5813055949      19
29561  5901232053   5813056887       2
29562  5901232053   5813132515       4
29563  5901232053   5901213624       1

[29564 rows x 3 columns]

In [ ]:
# make the connectome undirected
from get_connectome import connectome_to_undirected

oviINr_thresh_connectome_undirected = connectome_to_undirected(connectome)
oviINr_thresh_connectome_undirected

            source   target  weight
0       5-HTPMPD01    AstA1       2
1       5-HTPMPD01    CL003       3
2       5-HTPMPD01  CL019_a       1
3       5-HTPMPD01    CL165       1
4       5-HTPMPD01    CL251       2
...            ...      ...     ...
163201       vpoEN    oviIN       4
163202       vpoEN     pC1b       1
163203       vpoEN     pC1c       2
163204       vpoEN     pC1d      14
163205       vpoEN     pC1e       2

[163206 rows x 3 columns]

In [ ]:
# export the connectome to a csv file
oviINr_thresh_connectome_undirected.to_csv('oviINr_thresh20_connectome_undirected.txt', index = False, header=False)