is there a hub and spoke structure to oviIN's connectome? this notebook's sole aim is to find out if oviIN's strongest inputs also have oviIN as their strongest output.

In [2]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [3]:
# body IDs of oviINs from Neuprint
oviINr_bodyID = 423101189
oviINl_bodyID = 485934965

In [4]:
# inputs to oviINr
from neuprint import fetch_simple_connections
ovi_inputs = fetch_simple_connections(None,oviINr_bodyID)
ovi_inputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,611015907,423101189,287,SMP176,oviIN,SMP176_R,oviIN_R,"{'INP': {'pre': 54, 'post': 53}, 'CRE(R)': {'p..."
1,5813087891,423101189,255,SMP544,oviIN,SMP544_R,oviIN_R,"{'LX(R)': {'pre': 66, 'post': 65}, 'LAL(R)': {..."
2,1598011458,423101189,243,LAL134,oviIN,LAL134_R,oviIN_R,"{'LX(R)': {'pre': 42, 'post': 42}, 'LAL(R)': {..."
3,5813022375,423101189,236,IB017,oviIN,IB017_R,oviIN_R,"{'SNP(R)': {'pre': 97, 'post': 97}, 'SMP(R)': ..."
4,448342846,423101189,225,CRE075,oviIN,CRE075_R,oviIN_R,"{'INP': {'pre': 199, 'post': 199}, 'CRE(R)': {..."
...,...,...,...,...,...,...,...,...
2519,5901221890,423101189,1,SLP422,oviIN,SLP422_R,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2520,5901226036,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2521,5901230025,423101189,1,None,oviIN,None,oviIN_R,"{'VMNP': {'pre': 1, 'post': 1}, 'VES(R)': {'pr..."
2522,5901231318,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
2523,7112624972,423101189,1,None,oviIN,None,oviIN_R,"{'INP': {'pre': 1, 'post': 1}, 'CRE(R)': {'pre..."

In [5]:
# grab only necessary columns
ovi_inputs = ovi_inputs[['type_pre','weight']]  

# collapse ovi_inputs by cell type and sort in descending order
ovi_inputs = ovi_inputs.groupby('type_pre', as_index=False).sum().sort_values(by='weight', ascending=False,ignore_index=True)

In [6]:
ovi_inputs

    type_pre  weight
0       FS1A     892
1      IB017     370
2     SMP052     361
3     SMP176     299
4       FC2B     290
..       ...     ...
963   CRE060       1
964   CRE059       1
965   SMP412       1
966   CRE052       1
967   SIP074       1

[968 rows x 2 columns]

In [7]:
# filter out cell types with less than 10 inputs
ovi_inputs = ovi_inputs[ovi_inputs['weight'] >= 10]

ovi_inputs

    type_pre  weight
0       FS1A     892
1      IB017     370
2     SMP052     361
3     SMP176     299
4       FC2B     290
..       ...     ...
293    IB018      10
294   SMP133      10
295   SMP324      10
296   SMP359      10
297     FB5V      10

[298 rows x 2 columns]

In [7]:
ovi_inputs.type_pre[2]

'SMP052'

In [8]:
from neuprint import fetch_simple_connections
test = fetch_simple_connections(ovi_inputs.type_pre[0],None)
test

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,983426636,423101189,32,FS1A,oviIN,FS1A(FQ9)_C6_L,oviIN_R,"{'SNP(R)': {'pre': 25, 'post': 25}, 'SMP(R)': ..."
1,1045268099,485934965,32,FS1A,oviIN,FS1A(FQ9)_C4_R,oviIN_L,"{'SNP(L)': {'pre': 24, 'post': 24}, 'SMP(L)': ..."
2,1044918145,423101189,31,FS1A,oviIN,FS1A(FQ9)_C7_R,oviIN_R,"{'SNP(R)': {'pre': 25, 'post': 25}, 'SMP(R)': ..."
3,1138026774,423101189,31,FS1A,oviIN,FS1A(FQ9)_C8_R,oviIN_R,"{'SNP(R)': {'pre': 21, 'post': 21}, 'SMP(R)': ..."
4,951808062,423101189,30,FS1A,oviIN,FS1A(FQ9)_C6_R,oviIN_R,"{'SNP(R)': {'pre': 25, 'post': 25}, 'SMP(R)': ..."
...,...,...,...,...,...,...,...,...
7337,5813130366,5813040190,1,FS1A,CRE026,FS1A(FQ9)_C8_R,CRE026_R,"{'INP': {'pre': 1, 'post': 1}, 'CRE(L)': {'pre..."
7338,5813130366,5813047616,1,FS1A,FB5I,FS1A(FQ9)_C8_R,FB5I_L,"{'CX': {'pre': 1, 'post': 1}, 'FB': {'pre': 1,..."
7339,5813130366,5813057464,1,FS1A,FC2B,FS1A(FQ9)_C8_R,FC2B(FQ7)_C7_L,"{'CX': {'pre': 1, 'post': 1}, 'FB': {'pre': 1,..."
7340,5813130366,5813083780,1,FS1A,SMP385,FS1A(FQ9)_C8_R,SMP385_R,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
7341,5813130366,5901193890,1,FS1A,SMP150,FS1A(FQ9)_C8_R,SMP150(ADM10)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."

In [9]:
# grab only necessary columns
test = test[['type_post','weight']]  
#test

In [10]:
# collapse outputs by cell type and sort in descending order
test = test.groupby('type_post', as_index=False).sum().sort_values(by='weight', ascending=False,ignore_index=True)
test

    type_post  weight
0       oviIN    1589
1        FS1A    1581
2      LAL022     907
3      SMP081     595
4      CRE040     546
..        ...     ...
376      PFNd       1
377     PFR_b       1
378    PLP187       1
379    PPL102       1
380   vDeltaM       1

[381 rows x 2 columns]

In [ ]:
# get the index of test where oviIN is
oviIN_index = test[test['type_post'] == 'oviIN'].index.values.astype(int)[0]
oviIN_index
#test['type_post' == 'oviIN']

In [ ]:
test[test['type_post'] == 'oviIN'].weight

In [ ]:
test['newcol'] = 1

In [33]:
testchunk = ovi_inputs[0:10]
testchunk

  type_pre  weight
0     FS1A    1589
1    IB017     562
2   SMP052     614
3   SMP176     544
4     FC2B     435
5   SMP383     543
6   SMP544     358
7   LAL134     358
8   SMP550     445
9   CRE075     225

In [16]:
for i in testchunk:
    # print the cell type name
    print(i)

type_pre
weight

In [37]:
# loop through each top input and fetch its outputs
#for index, row in df.iterrows():

for row in testchunk.itertuples():
    # fetch outputs for each top input of oviIN
    i_outputs = fetch_simple_connections(row.type_pre,None)

    # grab only necessary columns
    i_outputs = i_outputs[['type_post','weight']]

    # collapse outputs by cell type, summing along weights, and sort in descending order
    i_outputs = i_outputs.groupby('type_post', as_index=False).sum().sort_values(by='weight', ascending=False,ignore_index=True)

# THIS DOESN'T WORK THE FIRST TIME PROB BECAUSE THE COLUMN DOESN'T EXIST YET
    # add a column to indicate the rank of oviIN in the outputs
    #row['out_to_ovi_rank'] = test[test['type_post'] == 'oviIN'].index.values.astype(int)[0]
    #testchunk.at[i, 'out_to_ovi_rank'] = i_outputs[i_outputs['type_post'] == 'oviIN'].index.values.astype(int)[0]
    # add a column to indicate the weight of oviIN in the outputs
#    testchunk.at[i, 'out_to_ovi_weight'] = i_outputs[i_outputs['type_post'] == 'oviIN'].weight
    row.out_to_ovi_weight = i_outputs[i_outputs['type_post'] == 'oviIN'].weight
    #print(i_outputs[i_outputs['type_post'] == 'oviIN'].weight)


testchunk

AttributeError: 'Pandas' object has no attribute 'out_to_ovi_weight'

In [ ]:
# loop through each top input and fetch its outputs
for i in ovi_inputs:
#    intype = ovi_inputs.type_pre[i]
    test = fetch_simple_connections(ovi_inputs.type_pre,None)
    # grab only necessary columns
    test = test[['type_post','weight']]
    # collapse outputs by cell type, summing along weights, and sort in descending order
    test = test.groupby('type_post', as_index=False).sum().sort_values(by='weight', ascending=False,ignore_index=True)
    # add a column to indicate the rank of oviIN in the outputs
    ovi_inputs['out_to_ovi_rank'] = test[test['type_post'] == 'oviIN'].index.values.astype(int)[0]
    # add a column to indicate the weight of oviIN in the outputs
    ovi_inputs['out_to_ovi_weight'] = test[test['type_post'] == 'oviIN'].weight


ovi_inputs

/var/folders/qb/p6dbns6n14n6pl5jy5tkwp78xfrsnf/T/ipykernel_27894/3938238172.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovi_inputs['out_to_ovi_rank'] = test[test['type_post'] == 'oviIN'].index.values.astype(int)[0]
/var/folders/qb/p6dbns6n14n6pl5jy5tkwp78xfrsnf/T/ipykernel_27894/3938238172.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovi_inputs['out_to_ovi_weight'] = test[test['type_post'] == 'oviIN'].weight
/var/folders/qb/p6dbns6n14n6pl5jy5tkwp78xfrsnf/T/ipykernel_27894/3938238172.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovi_inputs['out_to_ovi_rank'] = test[test['type_post'] == 'oviIN'].index.values.astype(int)[0]
/var/folders/qb/p6dbns6n14n6pl5jy5tkwp78xfrsnf/T/ipykernel_27894/3938238172.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ovi_inputs['out_to_ovi_weight'] = test[test['type_post'] == 'oviIN'].weight

    type_pre  weight  out_to_ovi_rank  out_to_ovi_weight
0       FS1A     892                0            22591.0
1      IB017     370                0                NaN
2     SMP052     361                0                NaN
3     SMP176     299                0                NaN
4       FC2B     290                0                NaN
..       ...     ...              ...                ...
293    IB018      10                0                NaN
294   SMP133      10                0                NaN
295   SMP324      10                0                NaN
296   SMP359      10                0                NaN
297     FB5V      10                0                NaN

[298 rows x 4 columns]

hijacking this notebook to check whether the most prominent inputs each end up in their own modules.

In [8]:
import os

# file path for oviIN modularity data for full ovi connectome
os.chdir('/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed-v1.2.1')

path = os.getcwd()

ovi_HB_node_df = pd.read_csv('preprocessed_nodes.csv', index_col=0)
ovi_HB_node_df

,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,pre,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
id,,,,,,,,,,,,,,,,,,,,,
1003215282,1,1,1,1,1,1,1,CL229_R,CL229,100,...,Traced,False,Roughly traced,PDM19,301.0,"[23044, 14981, 11600]","{'INP': {'pre': 87, 'post': 351, 'downstream':...",NaN,"['EPA(R)', 'GOR(R)', 'IB', 'ICL(R)', 'INP', 'S...","['GOR(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
1005952640,2,1,1,2,2,2,2,IB058_R,IB058,664,...,Traced,False,Roughly traced,PVL20,NaN,NaN,"{'INP': {'pre': 464, 'post': 1327, 'downstream...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S..."
1006928515,3,1,1,1,3,3,3,CL300_R,CL300,86,...,Traced,False,Roughly traced,PVL13,236.0,"[12083, 10523, 16816]","{'INP': {'pre': 79, 'post': 126, 'downstream':...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
1007260806,4,1,2,1,4,4,4,CL301_R,CL301,119,...,Traced,False,Roughly traced,PVL13,236.0,"[13524, 10108, 16480]","{'INP': {'pre': 40, 'post': 128, 'downstream':...",NaN,"['GOR(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['IB', 'ICL(R)', 'INP', 'PLP(R)', 'SCL(R)', 'S..."
1007402796,5,1,1,2,5,5,5,PS119_R,PS119,245,...,Traced,False,Roughly traced,PDM16,301.0,"[25364, 12010, 12544]","{'SNP(R)': {'pre': 100, 'post': 50, 'downstrea...",NaN,"['CAN(R)', 'GOR(R)', 'IB', 'ICL(L)', 'ICL(R)',...","['AVLP(R)', 'CAN(R)', 'IB', 'ICL(L)', 'INP', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988269593,4545,3,5,5,95,13,1785,FB4E_L,FB4E,168,...,Traced,False,Roughly traced,AVM08,NaN,NaN,"{'SNP(L)': {'post': 25, 'upstream': 25, 'mito'...",CRELALFB4_1,"['CRE(-RUB)(L)', 'CRE(L)', 'CX', 'FB', 'FB-col...","['CRE(-RUB)(L)', 'CRE(L)', 'CX', 'FB', 'FB-col..."
988291460,4546,4,4,263,1059,1501,1786,None,None,2,...,Assign,NaN,0.5assign,NaN,NaN,NaN,"{'SNP(L)': {'pre': 2, 'post': 1, 'downstream':...",NaN,"['SMP(L)', 'SNP(L)']","['SMP(L)', 'SNP(L)']"
988567837,4547,5,8,7,13,13,13,FB4G_R,FB4G,785,...,Traced,False,Roughly traced,AVM08,NaN,NaN,"{'SNP(R)': {'pre': 6, 'post': 73, 'downstream'...",CRELALFB4_3,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
988909130,4548,5,8,7,27,56,436,FB5V_R,FB5V,269,...,Traced,False,Roughly traced,AVM10,296.5,"[13226, 32024, 18600]","{'SNP(R)': {'pre': 1, 'post': 28, 'downstream'...",CRELALFB5,"['AB(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
989228019,4549,5,8,7,27,56,241,FB5V_R,FB5V,322,...,Traced,False,Roughly traced,AVM10,296.5,"[12516, 33587, 18648]","{'SNP(R)': {'pre': 1, 'post': 45, 'downstream'...",CRELALFB5,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."

In [9]:
prominent_ovi_inputs = ovi_inputs.head(6)
prominent_ovi_inputs

  type_pre  weight
0     FS1A     892
1    IB017     370
2   SMP052     361
3   SMP176     299
4     FC2B     290
5   SMP383     281

In [10]:
# view as scrollable table?
ovi_HB_chunk = ovi_HB_node_df[ovi_HB_node_df['celltype'].isin(prominent_ovi_inputs.type_pre)]
# aggregate by cluster in coarse modularity
#ovi_HB_chunk = ovi_HB_chunk.groupby('cluster').sum().sort_values(by='cluster', ascending=True,ignore_index=False)
ovi_HB_chunk[['0.0','celltype']]#.groupby('0.0').count().sort_values(by='celltype', ascending=False,ignore_index=False)

            0.0 celltype
id
1008391068    3     FC2B
1009371535    3     FC2B
1014102651    3     FS1A
1014223948    3     FS1A
1014461486    3     FS1A
...         ...      ...
977697611     3     FS1A
983067799     3     FS1A
983093876     3     FS1A
983426636     3     FS1A
983430664     3     FS1A

[72 rows x 2 columns]

In [11]:
# modularity data for only most prominent inputs to oviIN
ovi_HB_chunk = ovi_HB_node_df[ovi_HB_node_df['celltype'].isin(prominent_ovi_inputs.type_pre)]
ovi_HB_chunk['0.0'].value_counts()

3    62
1     5
4     3
5     2
Name: 0.0, dtype: int64

In [12]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 3].celltype.value_counts()

FS1A    44
FC2B    18
Name: celltype, dtype: int64

In [13]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 4].celltype.value_counts()

SMP052    2
SMP176    1
Name: celltype, dtype: int64

In [14]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 1].celltype.value_counts()

SMP052    2
SMP383    2
SMP176    1
Name: celltype, dtype: int64

In [15]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 5].celltype.value_counts()

IB017    2
Name: celltype, dtype: int64

In [16]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 2].celltype.value_counts()

Series([], Name: celltype, dtype: int64)

In [44]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 6].celltype.value_counts()

SMP112    3
Name: celltype, dtype: int64

looking at the next resolution up, things are looking very similar to the coarse resolution.

In [71]:
# modularity data for only most prominent inputs to oviIN
ovi_HB_chunk = ovi_HB_node_df[ovi_HB_node_df['celltype'].isin(prominent_ovi_inputs.type_pre)]
ovi_HB_chunk['0.05'].value_counts()

5    89
7    12
1    10
8     9
3     5
9     3
Name: 0.05, dtype: int64

In [72]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 5].celltype.value_counts()

FS1A      44
FC2C      25
FC2B      18
LAL022     2
Name: celltype, dtype: int64

In [73]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 7].celltype.value_counts()

SMP052    2
SMP551    1
SMP237    1
SMP550    1
pC1d      1
LAL134    1
SMP544    1
SMP386    1
SMP176    1
SMP051    1
LAL022    1
Name: celltype, dtype: int64

In [74]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 1].celltype.value_counts()

SMP052    2
SMP383    2
SMP550    1
pC1e      1
SMP237    1
pC1d      1
SMP051    1
SMP176    1
Name: celltype, dtype: int64

In [75]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 8].celltype.value_counts()

LAL022    3
IB017     2
LAL134    1
CRE075    1
SMP544    1
SMP386    1
Name: celltype, dtype: int64

In [76]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 3].celltype.value_counts()

SMP566    4
SMP551    1
Name: celltype, dtype: int64

In [77]:
ovi_HB_chunk[ovi_HB_chunk['0.05'] == 9].celltype.value_counts()

SMP112    3
Name: celltype, dtype: int64

looking at the highest resolution, many of the clusters have broken up the most prominent inputs.

In [61]:
# modularity data for only most prominent inputs to oviIN
ovi_HB_chunk = ovi_HB_node_df[ovi_HB_node_df['celltype'].isin(prominent_ovi_inputs.type_pre)]
ovi_HB_chunk['1.0'].value_counts()

43      15
14      10
107     10
108      6
21       6
90       5
631      5
105      4
18       4
91       4
1682     4
381      3
211      3
283      3
194      2
183      2
49       2
1023     2
1708     2
185      2
641      1
1191     1
1207     1
48       1
735      1
902      1
160      1
1257     1
1156     1
150      1
1399     1
1464     1
673      1
7        1
12       1
609      1
1194     1
1040     1
731      1
226      1
1145     1
1125     1
565      1
1098     1
263      1
961      1
17       1
749      1
878      1
570      1
771      1
726      1
753      1
845      1
Name: 1.0, dtype: int64

In [62]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 43].celltype.value_counts()

FS1A      13
LAL022     2
Name: celltype, dtype: int64

In [63]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 14].celltype.value_counts()

FC2B    6
FC2C    3
FS1A    1
Name: celltype, dtype: int64

In [64]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 107].celltype.value_counts()

FS1A    5
FC2C    4
FC2B    1
Name: celltype, dtype: int64

In [65]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 108].celltype.value_counts()

FS1A    3
FC2B    2
FC2C    1
Name: celltype, dtype: int64

In [66]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 21].celltype.value_counts()

FS1A    4
FC2B    1
FC2C    1
Name: celltype, dtype: int64

In [67]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 90].celltype.value_counts()

FS1A    3
FC2C    1
FC2B    1
Name: celltype, dtype: int64

In [68]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 631].celltype.value_counts()

SMP052    4
SMP051    1
Name: celltype, dtype: int64

In [69]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 105].celltype.value_counts()

FS1A      3
LAL022    1
Name: celltype, dtype: int64

In [70]:
ovi_HB_chunk[ovi_HB_chunk['1.0'] == 18].celltype.value_counts()

FC2C    3
FS1A    1
Name: celltype, dtype: int64

this shows how the most prominent inputs split into modules. I want to see if this holds if we use the ovi input modularity data.

In [47]:
import os

# file path for oviIN modularity data for full ovi connectome
os.chdir('/Users/ggutierr/My Drive (ggutierr@barnard.edu)/GitHub/oviIN-analyses-gabrielle/ovi_preprocessed/preprocessed_inputs-v1.2.1')

path = os.getcwd()

ovi_HB_in_node_df = pd.read_csv('preprocessed_nodes.csv', index_col=0)
ovi_HB_in_node_df

,key,0.0,0.05,0.1,0.5,0.75,1.0,instance,celltype,pre,...,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
id,,,,,,,,,,,,,,,,,,,,,
1003215282,1,1,1,1,1,1,1,CL229_R,CL229,100,...,Traced,False,Roughly traced,PDM19,301.0,"[23044, 14981, 11600]","{'INP': {'pre': 87, 'post': 351, 'downstream':...",NaN,"['EPA(R)', 'GOR(R)', 'IB', 'ICL(R)', 'INP', 'S...","['GOR(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
1005952640,2,2,1,1,2,2,2,IB058_R,IB058,664,...,Traced,False,Roughly traced,PVL20,NaN,NaN,"{'INP': {'pre': 464, 'post': 1327, 'downstream...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S..."
1006928515,3,1,1,1,3,3,3,CL300_R,CL300,86,...,Traced,False,Roughly traced,PVL13,236.0,"[12083, 10523, 16816]","{'INP': {'pre': 79, 'post': 126, 'downstream':...",NaN,"['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S...","['ATL(R)', 'IB', 'ICL(R)', 'INP', 'SCL(R)', 'S..."
1007260806,4,2,1,1,4,4,4,CL301_R,CL301,119,...,Traced,False,Roughly traced,PVL13,236.0,"[13524, 10108, 16480]","{'INP': {'pre': 40, 'post': 128, 'downstream':...",NaN,"['GOR(R)', 'IB', 'ICL(R)', 'INP', 'PLP(R)', 'S...","['IB', 'ICL(R)', 'INP', 'PLP(R)', 'SCL(R)', 'S..."
1008024276,5,3,2,2,5,5,5,FB5N_R,FB5N,499,...,Traced,False,Roughly traced,AVM08,472.5,"[19178, 29711, 37312]","{'SNP(L)': {'post': 5, 'upstream': 5, 'mito': ...",SMPCREFB5_4,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987273073,2507,3,8,8,409,604,629,(PVL05)_L,None,283,...,Traced,False,Roughly traced,NaN,NaN,NaN,"{'SNP(R)': {'pre': 65, 'post': 52, 'downstream...",NaN,"['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'...","['CRE(-ROB,-RUB)(R)', 'CRE(-RUB)(L)', 'CRE(L)'..."
987842109,2508,3,9,23,533,780,815,None,None,2,...,Orphan,NaN,Orphan hotknife,NaN,NaN,NaN,"{'SNP(R)': {'pre': 2, 'post': 13, 'downstream'...",NaN,"['SMP(R)', 'SNP(R)']","['SMP(R)', 'SNP(R)']"
988567837,2509,2,3,4,16,58,63,FB4G_R,FB4G,785,...,Traced,False,Roughly traced,AVM08,NaN,NaN,"{'SNP(R)': {'pre': 6, 'post': 73, 'downstream'...",CRELALFB4_3,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
988909130,2510,2,3,4,389,559,572,FB5V_R,FB5V,269,...,Traced,False,Roughly traced,AVM10,296.5,"[13226, 32024, 18600]","{'SNP(R)': {'pre': 1, 'post': 28, 'downstream'...",CRELALFB5,"['AB(R)', 'CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX',...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."
989228019,2511,2,3,4,389,559,572,FB5V_R,FB5V,322,...,Traced,False,Roughly traced,AVM10,296.5,"[12516, 33587, 18648]","{'SNP(R)': {'pre': 1, 'post': 45, 'downstream'...",CRELALFB5,"['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F...","['CRE(-ROB,-RUB)(R)', 'CRE(R)', 'CX', 'FB', 'F..."

In [50]:
ovi_HB_in_chunk = ovi_HB_in_node_df[ovi_HB_in_node_df['celltype'].isin(prominent_ovi_inputs.type_pre)]
ovi_HB_in_chunk['0.0'].value_counts()

3    87
4    10
2     9
1     9
5     3
Name: 0.0, dtype: int64

In [51]:
# the FB module
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 3].celltype.value_counts()

FS1A      44
FC2C      25
FC2B      18
LAL022     3
Name: celltype, dtype: int64

In [52]:
# the contra module (contra to module 1?)
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 4].celltype.value_counts()

SMP052    2
SMP551    1
SMP237    1
SMP550    1
pC1d      1
LAL134    1
SMP544    1
SMP176    1
SMP051    1
Name: celltype, dtype: int64

In [54]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 1].celltype.value_counts()

SMP052    2
SMP383    2
LAL134    1
SMP550    1
pC1e      1
SMP237    1
pC1d      1
SMP544    1
SMP051    1
SMP176    1
Name: celltype, dtype: int64

In [53]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 2].celltype.value_counts()

SMP566    4
SMP551    1
Name: celltype, dtype: int64

In [55]:
ovi_HB_chunk[ovi_HB_chunk['0.0'] == 5].celltype.value_counts()

LAL022    3
IB017     2
SMP386    2
CRE075    1
Name: celltype, dtype: int64

LAL022 is with the FB module and with the IB017 module which is what I saw when using the full ovi connectome.