This notebook creates simple tables containing oviINs' direct partners and exports as csv.

In [1]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [2]:
# body IDs of oviINs from Neuprint
oviINr_bodyID = 423101189
oviINl_bodyID = 485934965

Doing the inputs first.

In [3]:
# inputs to oviINr
from neuprint import fetch_simple_connections
ovi_inputs = fetch_simple_connections(None,[oviINr_bodyID,oviINl_bodyID])
ovi_inputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,611015907,423101189,287,SMP176,oviIN,SMP176_R,oviIN_R,"{'INP': {'pre': 54, 'post': 53}, 'CRE(R)': {'p..."
1,5813087891,423101189,255,SMP544,oviIN,SMP544_R,oviIN_R,"{'LX(R)': {'pre': 66, 'post': 65}, 'LAL(R)': {..."
2,1598011458,423101189,243,LAL134,oviIN,LAL134_R,oviIN_R,"{'LX(R)': {'pre': 42, 'post': 42}, 'LAL(R)': {..."
3,5813022375,423101189,236,IB017,oviIN,IB017_R,oviIN_R,"{'SNP(R)': {'pre': 97, 'post': 97}, 'SMP(R)': ..."
4,643156727,485934965,232,SMP176,oviIN,SMP176(PDL05)_L,oviIN_L,"{'SNP(L)': {'pre': 199, 'post': 198}, 'SMP(L)'..."
...,...,...,...,...,...,...,...,...
4801,5901227064,485934965,1,None,oviIN,None,oviIN_L,"{'INP': {'pre': 1, 'post': 1}, 'CRE(L)': {'pre..."
4802,5901230025,423101189,1,None,oviIN,None,oviIN_R,"{'VMNP': {'pre': 1, 'post': 1}, 'VES(R)': {'pr..."
4803,5901231318,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
4804,5901232546,485934965,1,None,oviIN,None,oviIN_L,"{'INP': {'pre': 1, 'post': 1}, 'CRE(L)': {'pre..."
4805,7112624972,423101189,1,None,oviIN,None,oviIN_R,"{'INP': {'pre': 1, 'post': 1}, 'CRE(R)': {'pre..."

Unfortunately, this sums the bodyIds. Ideally, I'd like to list the bodyIds within a column, json style.

In [4]:
ovi_in_types = ovi_inputs.groupby('type_pre').sum('weight')
ovi_in_types.sort_values(by="weight", ascending=False)

             bodyId_pre  bodyId_post  weight
type_pre
FS1A       130476342236  39997590776    1589
SMP052       4684512284   3636144616     614
IB017       23252152174   1818072308     562
SMP176       2508345268   1818072308     544
SMP383       2428549988   1818072308     543
...                 ...          ...     ...
SMP216        453457927    423101189       1
CRE088        671657343    423101189       1
LHAV9a1_c     794406234    485934965       1
SMP038        545444996    423101189       1
SIP034        792450754    423101189       1

[1049 rows x 3 columns]

In [5]:
ovi_in_bId_lists = ovi_inputs.groupby('type_pre')['bodyId_pre'].apply(list).reset_index()#.sum('weight')
ovi_in_bId_lists

        type_pre                                        bodyId_pre
0     5-HTPMPD01                                       [297230760]
1     5-HTPMPV01                           [541697718, 5813078603]
2     5-HTPMPV03                            [791527493, 791527493]
3        AOTU003                                       [986089634]
4      AOTU008_a                                       [986098785]
...          ...                                               ...
1044        pC1d  [5813063587, 5813013342, 5813013342, 5813063587]
1045        pC1e                            [514850616, 514850616]
1046      v2LN37                                      [1916485259]
1047       vpoDN                                      [5813057864]
1048       vpoEN                                      [1570922129]

[1049 rows x 2 columns]

In [6]:
ovi_in_summed_weights = ovi_inputs.groupby('type_pre').sum('weight')
ovi_in_summed_weights

             bodyId_pre  bodyId_post  weight
type_pre
5-HTPMPD01    297230760    423101189       3
5-HTPMPV01   6354776321    909036154       4
5-HTPMPV03   1583054986    909036154       2
AOTU003       986089634    423101189       1
AOTU008_a     986098785    423101189       1
...                 ...          ...     ...
pC1d        23252153858   1818072308     223
pC1e         1029701232    909036154     186
v2LN37       1916485259    423101189       4
vpoDN        5813057864    423101189       2
vpoEN        1570922129    423101189       4

[1049 rows x 3 columns]

In [7]:
ovi_input_types = ovi_in_bId_lists.merge(ovi_in_summed_weights[['weight']], on='type_pre').sort_values(by="weight", ascending=False)
ovi_input_types

      type_pre                                         bodyId_pre  weight
265       FS1A  [983426636, 1045268099, 1044918145, 1138026774...    1589
632     SMP052  [635908014, 576574889, 583132200, 546641039, 5...     614
271      IB017   [5813022375, 5813053712, 5813053712, 5813022375]     562
716     SMP176       [611015907, 643156727, 611015907, 643156727]     544
844     SMP383       [636944318, 577330676, 636944318, 577330676]     543
..         ...                                                ...     ...
743     SMP216                                        [453457927]       1
198     CRE088                                        [671657343]       1
389  LHAV9a1_c                                        [794406234]       1
619     SMP038                                        [545444996]       1
523     SIP034                                        [792450754]       1

[1049 rows x 3 columns]

In [8]:
ovi_input_types.to_csv('ovi_input_types.csv')

Now the outputs.

In [9]:
# outputs to oviINr
from neuprint import fetch_simple_connections
ovi_outputs = fetch_simple_connections([oviINr_bodyID,oviINl_bodyID],None)
ovi_outputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,423101189,5813021602,320,oviIN,SMP198,oviIN_R,SMP198_R,"{'SNP(R)': {'pre': 276, 'post': 276}, 'SMP(R)'..."
1,423101189,452689494,239,oviIN,SMP550,oviIN_R,SMP550_R,"{'SNP(R)': {'pre': 239, 'post': 239}, 'SMP(R)'..."
2,423101189,611629428,238,oviIN,CRE077,oviIN_R,CRE077_R,"{'SNP(R)': {'pre': 216, 'post': 216}, 'SMP(R)'..."
3,423101189,542376096,208,oviIN,SMP237,oviIN_R,SMP237_R,"{'SNP(R)': {'pre': 203, 'post': 203}, 'SMP(R)'..."
4,423101189,5813021005,199,oviIN,SMP507,oviIN_R,SMP507_R,"{'SNP(R)': {'pre': 199, 'post': 199}, 'SMP(R)'..."
...,...,...,...,...,...,...,...,...
6955,485934965,5901213707,1,oviIN,None,oviIN_L,(ADM04)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
6956,485934965,5901215966,1,oviIN,SMP400,oviIN_L,SMP400(PDM09)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
6957,485934965,5901221649,1,oviIN,None,oviIN_L,None,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
6958,485934965,5901221890,1,oviIN,SLP422,oviIN_L,SLP422_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
6959,485934965,7112625126,1,oviIN,None,oviIN_L,None,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."

In [10]:
ovi_out_bId_lists = ovi_outputs.groupby('type_post')['bodyId_post'].apply(list).reset_index()#.sum('weight')
ovi_out_bId_lists

       type_post                                       bodyId_post
0     5-HTPMPV01                                       [541697718]
1     5-HTPMPV03      [669325882, 791527493, 669325882, 791527493]
2          ALIN3                                       [735091236]
3        AOTU004                                       [894707517]
4        AOTU007                                       [769195048]
...          ...                                               ...
1194        pC1a                                      [5813046951]
1195        pC1b                 [392821837, 267214250, 392821837]
1196        pC1c      [550319575, 267551639, 550319575, 267551639]
1197        pC1d  [5813013342, 5813063587, 5813063587, 5813013342]
1198        pC1e                            [514850616, 514850616]

[1199 rows x 2 columns]

In [11]:
ovi_out_summed_weights = ovi_outputs.groupby('type_post').sum('weight')
ovi_out_summed_weights

            bodyId_pre  bodyId_post  weight
type_post
5-HTPMPV01   423101189    541697718       4
5-HTPMPV03  1818072308   2921706750      27
ALIN3        423101189    735091236       1
AOTU004      423101189    894707517       2
AOTU007      423101189    769195048       1
...                ...          ...     ...
pC1a         423101189   5813046951       1
pC1b        1332137343   1052857924      12
pC1c        1818072308   1635742428     320
pC1d        1818072308  23252153858     117
pC1e         909036154   1029701232      69

[1199 rows x 3 columns]

In [12]:
ovi_output_types = ovi_out_bId_lists.merge(ovi_out_summed_weights[['weight']], on='type_post').sort_values(by="weight", ascending=False)
ovi_output_types

      type_post                                     bodyId_post  weight
1118     SMP550    [452689494, 579700707, 579700707, 452689494]     669
885      SMP254  [5813069497, 762037782, 5813069497, 762037782]     477
1090     SMP507  [5813021005, 581790318, 5813021005, 581790318]     474
849      SMP198  [5813021602, 5813021602, 546312597, 546312597]     468
206      CRE077    [611629428, 672192070, 611629428, 672192070]     461
...         ...                                             ...     ...
370      LAL027                                    [5812991668]       1
892      SMP265                                     [548937579]       1
29       ATL034                                    [5813022259]       1
366      LAL013                                     [894702888]       1
439   LHPD2a4_c                                    [5813021728]       1

[1199 rows x 3 columns]

In [13]:
ovi_output_types.to_csv('ovi_output_types.csv')

### sanity checks

In [ ]:
ovi_inputs.loc[ovi_inputs['type_pre']=='SMP176']

In [ ]:
ovi_in_types.loc['SMP176']