The goal of this notebook is to test the modularity data analysis pipeline on a test case.

In [1]:
from neuprint import Client
# remove my token before making notebook public
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImdnMjExNEBjb2x1bWJpYS5lZHUiLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpb1lJLUVPLWdidGxPRTh6SmQ0eF9ZQ1Y4ZHF0YVFjWGlHeG5CMz1zOTYtYz9zej01MD9zej01MCIsImV4cCI6MTgxMDUyOTYzNH0.jv9eR0SH5RhfBdXrtp4r-dDFOhcsT8GBbE4v69ysCKs') 
c.fetch_version()

# import important stuff here
import numpy as np
import pandas as pd
import matplotlib

In [2]:
# testing on a neuron with few connections
test_neuron_Id = 423101189 #450971893 #676124666 #1815929980#

In [3]:
from neuprint import fetch_neurons
test_neuron_df, test_syns = fetch_neurons(test_neuron_Id)
test_neuron_df

/Users/ggutierr/miniconda3/envs/modularity/lib/python3.11/site-packages/neuprint/client.py:609: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  neuron_props_val = df_results.iloc[0][0]

,bodyId,instance,type,pre,post,downstream,upstream,mito,size,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
0,423101189,oviIN_R,oviIN,6863,23029,60603,23029,2472,10033593370,Traced,False,Roughly traced,None,None,None,"{'SNP(R)': {'pre': 4773, 'post': 13645, 'downs...",None,"[ATL(R), CAN(R), CRE(-ROB,-RUB)(R), CRE(-RUB)(...","[CAN(R), CRE(-ROB,-RUB)(R), CRE(-RUB)(L), CRE(..."

In [4]:
test_syns

       bodyId                roi   pre   post  downstream  upstream  mito
0   423101189             ATL(R)     0     18           0        18     2
1   423101189             CAN(R)     1     24           3        24     5
2   423101189  CRE(-ROB,-RUB)(R)   420   3710        3414      3710   286
3   423101189       CRE(-RUB)(L)    18      9         184         9     2
4   423101189             CRE(L)    18      9         184         9     2
5   423101189             CRE(R)   420   3715        3414      3715   286
6   423101189             FLA(R)     0     22           0        22     3
7   423101189             GOR(R)     4     23          19        23     6
8   423101189                 IB    10    231          47       231    27
9   423101189                INP   448   3973        3645      3973   317
10  423101189        LAL(-GA)(R)    16   1775         106      1775   112
11  423101189             LAL(R)    16   1775         106      1775   112
12  423101189              LX(R)    16   1775         106      1775   112
13  423101189         NotPrimary     1     13           1        13   102
14  423101189               PENP     1     46           3        46     8
15  423101189             ROB(R)     0      5           0         5     0
16  423101189             SIP(L)    17     23         160        23     3
17  423101189             SIP(R)   207    479        1985       479    54
18  423101189             SMP(L)  1572   1563       14389      1563   314
19  423101189             SMP(R)  4566  13166       40140     13166  1386
20  423101189             SNP(L)  1589   1586       14549      1586   317
21  423101189             SNP(R)  4773  13645       42125     13645  1440
22  423101189             SPS(R)     5    173          19       173    24
23  423101189             VES(R)    26   1795         136      1795   146
24  423101189               VMNP    35   1991         174      1991   176

In [5]:
from neuprint import fetch_simple_connections

test_inputs = fetch_simple_connections(None, test_neuron_Id)
test_inputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,611015907,423101189,287,SMP176,oviIN,SMP176_R,oviIN_R,"{'INP': {'pre': 54, 'post': 53}, 'CRE(R)': {'p..."
1,5813087891,423101189,255,SMP544,oviIN,SMP544_R,oviIN_R,"{'LX(R)': {'pre': 66, 'post': 65}, 'LAL(R)': {..."
2,1598011458,423101189,243,LAL134,oviIN,LAL134_R,oviIN_R,"{'LX(R)': {'pre': 42, 'post': 42}, 'LAL(R)': {..."
3,5813022375,423101189,236,IB017,oviIN,IB017_R,oviIN_R,"{'SNP(R)': {'pre': 97, 'post': 97}, 'SMP(R)': ..."
4,448342846,423101189,225,CRE075,oviIN,CRE075_R,oviIN_R,"{'INP': {'pre': 199, 'post': 199}, 'CRE(R)': {..."
...,...,...,...,...,...,...,...,...
2519,5901221890,423101189,1,SLP422,oviIN,SLP422_R,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2520,5901226036,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
2521,5901230025,423101189,1,None,oviIN,None,oviIN_R,"{'VMNP': {'pre': 1, 'post': 1}, 'VES(R)': {'pr..."
2522,5901231318,423101189,1,None,oviIN,None,oviIN_R,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
2523,7112624972,423101189,1,None,oviIN,None,oviIN_R,"{'INP': {'pre': 1, 'post': 1}, 'CRE(R)': {'pre..."

All of these downstream neurons are contacted from the same pre site.

In [6]:
from neuprint import fetch_simple_connections

test_outputs = fetch_simple_connections(test_neuron_Id,None)
test_outputs

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,423101189,5813021602,320,oviIN,SMP198,oviIN_R,SMP198_R,"{'SNP(R)': {'pre': 276, 'post': 276}, 'SMP(R)'..."
1,423101189,452689494,239,oviIN,SMP550,oviIN_R,SMP550_R,"{'SNP(R)': {'pre': 239, 'post': 239}, 'SMP(R)'..."
2,423101189,611629428,238,oviIN,CRE077,oviIN_R,CRE077_R,"{'SNP(R)': {'pre': 216, 'post': 216}, 'SMP(R)'..."
3,423101189,542376096,208,oviIN,SMP237,oviIN_R,SMP237_R,"{'SNP(R)': {'pre': 203, 'post': 203}, 'SMP(R)'..."
4,423101189,5813021005,199,oviIN,SMP507,oviIN_R,SMP507_R,"{'SNP(R)': {'pre': 199, 'post': 199}, 'SMP(R)'..."
...,...,...,...,...,...,...,...,...
3436,423101189,5901197274,1,oviIN,SMP528,oviIN_R,SMP528(PDM24)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
3437,423101189,5901203310,1,oviIN,None,oviIN_R,(PVM12)_L,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."
3438,423101189,5901220525,1,oviIN,None,oviIN_R,None,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
3439,423101189,7112625063,1,oviIN,None,oviIN_R,None,"{'SNP(R)': {'pre': 1, 'post': 1}, 'SMP(R)': {'..."
3440,423101189,7112625282,1,oviIN,None,oviIN_R,None,"{'SNP(L)': {'pre': 1, 'post': 1}, 'SMP(L)': {'..."

Now that I got to see exactly what this test neuron is connected to, the official analysis pipeline starts below. 

I use the get_connectome function to get a dataframe with the neuron's connectome. I want connectome_to_undirected to be a function that can be called separately and that returns the directed connectome dataframe. It is useful for these to be separate so that we can do other analyses with them besides modularity.

In [7]:
# obtain the connectome dataframe for the test neuron
from get_connectome import get_connectome

test_connectome = get_connectome(test_neuron_Id)
test_connectome

  0%|          | 0/23 [00:00<?, ?it/s]

        bodyId_pre  bodyId_post  weight
0        203253253    203594164       2
1        203253253    295802733       1
2        203253253    296194535       1
3        203253253    296509709       7
4        203253253    296838079      35
...            ...          ...     ...
537211  7112625282    674882250       1
537212  7112625282    769377106       1
537213  7112625282    800373114       1
537214  7112625282   1163199311       1
537215  7112625282   5813062838       1

[537216 rows x 3 columns]

In [8]:
# make the connectome undirected
from get_connectome import connectome_to_undirected

test_connectome_undirected = connectome_to_undirected(test_connectome)
test_connectome_undirected

            source      target  weight
0        203253253   203594164       5
1        203253253   295802733       1
2        203253253   296194535       1
3        203253253   296509709      26
4        203253253   296838079      35
...            ...         ...     ...
452622  7112625282   674882250       1
452623  7112625282   769377106       1
452624  7112625282   800373114       1
452625  7112625282  1163199311       1
452626  7112625282  5813062838       1

[452627 rows x 3 columns]

The undirected connectome dataframe is ready to be exported to a csv file. From there it will be formatted using format_edgelist.py from the terminal window so that the nodes are no longer bodyIds but sequential numbers instead. Then the modularity should be able to run. It turns out that Alex's newest version of format_edgelist.py also makes the connectome undirected, so running the connectome_to_undirected function before format_edgelist.py is not necessary but also seems to be harmless. I verified that the results are the same regardless of whether connectome_to_undirected is run or not.

When exporting, either remove the header row or make sure to use the header flag when calling format_edgelist.py. Appropriate results were obtained with
`python format_edgelist.py test_connectome_undirected.txt --sep comma` in the terminal window using the exported file created below. test_connectome_undirected.txt gets overwritten and replaced by the sequentially numbered nodes. A copy of the original is created that is called original_test_connectome_undirected.txt, as well as a few other files (clean_, degree_, info_, and key_ files).

The exported file can be .txt or .csv. The files that are created from format_edgelist.py will inherit the same file type. I chose to export as .txt.

In [9]:
# export the undirected connectome to a csv or txt file
test_connectome_undirected.to_csv('test_connectome_undirected.txt', index = False, header=False)
#test_connectome_undirected.to_csv('test_connectome_undirected.txt', index = False, header=False, sep=' ')

After running format_edgelist.py in the terminal window, I then run: `sh work.sh test_connectome_undirected.txt` but I think this actually generates the same files that Alex generates with his new format_edgelist.py. The only problem with going directly to work.sh after saving test_connectome_undirected.txt is that work.sh doesn't renumber the nodes which we need. So effectively, format_edgelist.py rolls that step into the work.sh step all in one go. Alternatively, we could just run the functions separately from format_edgelist.py in this notebook. To do that, I had to change the separator to ' ' when exporting 'test_connectome_undirected.txt' in order to avoid errors. Below I made an attempt but the resulting new_test_connectome_undirected.txt file had renumbered the nodes correctly but the numbers were not sequential which was odd. I think it would be better to run `format_edgelist(input)` in a notebook where the input is a struct that contains prefix, suffix, and file path as far as I can tell. This would run all the things the way that running format_edgelist.py in the terminal does. I can play around with that if needed but I'll move on since we have a working solution which is to simply run format_edgelist.py in the terminal.

In [32]:
# alternative to running format_edgelist.py from command line in terminal window
from format_edgelist import read_graph
from format_edgelist import write_edges
from pathlib import Path

myfile = Path('test_connectome_undirected.txt')
nodes, degrees, edges = read_graph(myfile)

myoutfile = Path('new_test_connectome_undirected.txt')
write_edges(myoutfile, edges, nodes)

If I run `python format_edgelist.py test_connectome_undirected.txt --sep comma` in the terminal window and follow that with `clang main.c help.c rg.c -Xpreprocessor -fopenmp -lomp -lm` and `./a.out 2 5 2 12345 0 test_connectome_undirected.txt`, the results_ file is different than when I include the `sh work.sh test_connectome_undirected.txt` step. In the test that I did, the results ended up with more communities and slightly different numbers of neurons in them. It is unclear to me which is more correct. If I run the `sh work.sh test_connectome_undirected.txt` step twice, I don't get different results from when I run it once, so that makes me think that the reason results are different when I don't run it is because it does something that `python format_edgelist.py test_connectome_undirected.txt --sep comma` doesn't do. So I will continue including the `sh work.sh test_connectome_undirected.txt` step even though it is partially redundant with some of what format_edgelist.py does.

The pipeline so far is:

First run `python format_edgelist.py test_connectome_undirected.txt --sep comma` in the terminal window.

Then run `sh work.sh test_connectome_undirected.txt`. After running, the required files appear and we next compile the C codes. I had to modify Pramesh's command to use clang given the weird compatibility issues with new macs and gcc and CMake.

`clang main.c help.c rg.c -Xpreprocessor -fopenmp -lomp -lm` to generate the a.out file.


`./a.out 2 5 2 12345 0 test_connectome_undirected.txt` generates results_test_connectome_undirected.txt and partition_test_connectome_undirected.txt, although in these test cases that partition_ file didn't appear.

I tested this out on oviIN_R's full connectome. With chi=0, this resulted in 181 clusters? I thought we were supposed to get 6. Turns out, those numbers are iterations of the algorithm. It seems like the algorithm doesn't finish running on my computer for some reason because it is supposed to end with a final Q value. 

I might be using improper parameters for the CPUs, etc but Rhessa uses the same default CPU parameters and even the same random seed.

Sidenote: When trying to do this on the lab computer, I had to compile the code using a bunch of additional flags so that the libomp library could be accessed since it's not in the place where clang expects: `clang -I/Users/ggutierr/miniconda3/pkgs/llvm-openmp-14.0.6-hc6e5704_0/lib/clang/14.0.6/include/ -L/Users/ggutierr/miniconda3/pkgs/llvm-openmp-14.0.6-hc6e5704_0/lib/  main.c help.c rg.c -Xpreprocessor -fopenmp -lomp -lm -Wl,-rpath,/Users/ggutierr/miniconda3/pkgs/llvm-openmp-14.0.6-hc6e5704_0/lib/`
However, the ./a.out step isn't working and it is probably for the same reason but I haven't figured out a work around. I might just have to install Homebrew and then install libomp with it so that the libraries are where they should be. Or I can write a Make file to point things to the right directories and libraries.

To read the modularity data back into Python, we can use preprocess.py from Alex's repo. Or Rhessa made a script called process.py that might do this.

Rhessa first combined modularity data into an xls spreadsheet and then runs process.py in terminal on that and other modularity files.